<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="float-right" style="margin-top: 13px">
        <div class="navbar-header">
            <div class="row">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="toogle_list"> en </a>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}" class="toogle_list"> ru </a>
            </div>
        </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
