{% extends 'base.html.twig' %}
    {% block title %}Article{% endblock %}
{% block body %}
    <a href="{{ path('article_create') }}">Create</a>
    <table border="1">
        <caption>Table</caption>
        <tr style="font-weight: bold">
            <td>{{ 'label.articl.name'|trans }}</td>
            <td>{{ 'label.article.description'|trans }}</td>
            <td>{{ 'label.article.createdAt'|trans }}</td>
            <td></td>
            <td></td>
        </tr>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_read', {'id': article.id}) }}">{{ article.name }}</a></td>
                <td>{{ article.description }}</td>
                <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('article_update', {'id': article.id}) }}">Update</a></td>
                <td><a href="{{ path('article_delete', {'id': article.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
